*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Signika";
    margin: 0;
    text-align: center;
    background-color: #fff;
    line-height: 1.6;
}

section {
    padding: 50px 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-title {
    font-size: 30px;
    color: #FFD700;
    text-shadow: 3px 3px #000;
}

.headder {
    background-image: url("https://i.postimg.cc/SKnv0RBM/pexels-pixabay-414974.jpg");
}

.headder li {
    display: inline-block;
    padding: 5px;
    list-style: none;
}