*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Signika";
    margin: 0;
    text-align: center;
    background-color: #fff;
    line-height: 1.6;
}

section {
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}


.navbar-title {
    text-align: center;
    margin-top: 0;
    justify-content: top;
    font-size: 50px;
    font-family: 'Meow Script', cursive;
    color: #FFD700;
    text-shadow: 3px 3px #000;
}

.headder {
    display: flex;
    background-image: url("https://i.postimg.cc/SKnv0RBM/pexels-pixabay-414974.jpg");
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.headder ul {
    display: flex;
    justify-content: flex-end;
}

.headder li {
    font-size: 25px;
    padding: 5px;
    list-style: none;
    text-shadow: 3px 3px #fff;
}

.invitation {
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.invitation h3 {
    font-size: 40px;
    color: #FFD700;
    text-shadow: 2px 2px #000;
    padding-top: 40px;
    letter-spacing: 4px;
}

.invitation h2 {
    font-size: 80px;
    color: #FFD700;
    text-shadow: 2px 2px #000;
    margin-top: 10px;
}

.invitation-btn {
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 20px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.invitation-btn:hover {
    background-color: #fff;
    color: #4CAF50;
}

.services h3,
.portfolio h3 {
    margin: 0;
    padding-top: 90px;
    font-size: 50px;
}

.services p,
.portfolio p {
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 70px;
    margin: 0;
    color: #808080;
}

.card h4 {
    font-size: 35px;
    margin-bottom: 5px;
}

.card p {
    font-size: 15px;
}

.card i {
    margin-top: 50px;
    font-size: 50px;
    border-style: solid;
    border-radius: 50%;
    padding: 20px;
    color: #FFD700
}

.portfolio {
    background-color: #f5f5f5;
}